<div class='full parallax' style='background-image: url(images/stock/lake-2783302_1920-light.jpg); color: black;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our customers" color="black" %}
      <div class='spacing'></div>
      <p style="text-align: center;">
        We are proud to help our customers both large and small by building the products they need to improve their product offerings.
      </p>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modClients' data-slides_to_show='4'>
        <div class='clients'>
          {% for client in site.data.clients %}
            <div><img class="slick-slide-logo" alt="" src="{{client.image}}" /></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
